*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
}
.holder{
    background-color: rgb(196, 156, 156);
    border: 1px solid black;
    width: 500px;
    color: white;
    position: relative;
    padding: 20px;
}
.tag{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    position: absolute;
    top: 0px;
    background-color: black;
    border-radius: 5px;
}
.align{
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}